/JMP-2015-PL-IS.iml
/ts/ts.iml
/mt/mt.iml
/mm/mm.iml
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
